[MASTER]
recursive = yes
disable=no-name-in-module

[FORMAT]
output-format = colorized

[MESSAGES CONTROL]
disable=C0301,C0303,C0304,C0305,E1101,E1102,E1131,E1133,C0411,C0413
enable = C0114,C0115

[REPORTS]
output-format=colorized
